<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{user/layout}"
>
    <body>

        <div class="container py-5" layout:fragment="content">
            <a class="text-decoration-none" th:href="@{/myInfo/edit}">프로필 수정</a>
            <div class="d-flex justify-content-center">
                <div>
                    <img th:src="@{__${currentUser.picture?.thumbnailSrc}__}" class="rounded-circle" style="width: 100px; height: 100px;" alt=""/>
                    <div th:text="${currentUser.nickname}">닉네임</div>
                </div>
            </div>
            <h5>나의 거래</h5>
            <div>
                <a href="#" class="text-decoration-none d-flex align-items-center p-1">
                    <div style="flex-basis: 15px;">
                        <i class="bi bi-receipt"></i>
                    </div>
                    <div class="ms-2">판매내역</div>
                </a>
                <a href="#" class="text-decoration-none d-flex align-items-center p-1">
                    <div style="flex-basis: 15px;">
                        <i class="bi bi-bag"></i>
                    </div>
                    <div class="ms-2">구매내역</div>
                </a>
                <a href="#" class="text-decoration-none d-flex align-items-center p-1">
                    <div style="flex-basis: 15px;">
                        <i class="bi bi-heart"></i>
                    </div>
                    <div class="ms-2">관심목록</div>
                </a>
            </div>
            <h5 class="mt-5">나의 동네생활</h5>
            <div>
                <a href="#" class="text-decoration-none d-flex align-items-center p-1">
                    <div style="flex-basis: 15px;">
                        <i class="bi bi-file-text"></i>
                    </div>
                    <div class="ms-2">동네생활 글/댓글</div>
                </a>
            </div>
        </div>
    </body>
</html>
