<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{user/layout}"
>

<div class="container py-5" layout:fragment="content">
  <div class="row">
    <div class="card col-md-6 offset-md-3">
      <form id="insertForm" class="card-body" method="post" th:action="@{/items/form}" th:object="${form}">
        <h2 class="text-center mb-5 p-3">가지마켓 가지 등록</h2>

        <div class="mb-3 p-2">
          <input type="text" class="form-control" th:field="*{title}" required="required" placeholder="제목을 입력해주세요." title="제목을 입력해주세요."/>
        </div>
        <div class="mb-3 p-2">
          <label th:for="category" class="form-label" style="font-weight: bold;">카테고리 선택</label>
          <select class="form-control" th:field="*{category}" required="required" title="카테고리를 선택해주세요.">
            <option th:each="category : ${T(com.gajiseyo.modules.item.domain.Category).values()}"
                    th:value="${category}"
                    th:text="${category.displayValue}"
            ></option>
          </select>
        </div>
        <div class="mb-3 p-2">
          <div class="row">
            <div class="col-10">
              <input type="text" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" th:field="*{price}" placeholder="￦ 가격을 입력해주세요." title="가격을 입력해주세요."/>
            </div>
            <div class="col">
              <input type="checkbox" class="form-check-input gaji-check-input" id="shared" th:field="*{shared}" title="나눔을 선택해주세요."/>
              <label th:for="shared" class="form-label" style="font-weight: bold;">나눔</label>
            </div>
          </div>
          <div class="p-2">
            <input type="checkbox" class="form-check-input gaji-check-input" id="suggested" th:field="*{suggested}" title="가격 제안을 선택해주세요."/>
            <label th:for="suggested" class="form-label" style="font-weight: bold;">가격 제안받기</label>
          </div>
        </div>
        <div class="mb-3 p-2">
          <textarea class="form-control" rows="5" th:field="*{contents}" required="required" placeholder="내용을 작성해주세요. (가품 및 판매 금지 물품은 게시가 제한될 수 있어요.)" title="내용을 입력해주세요."/>
        </div>
        <div class="d-grid gap-2 p-3">
          <button type="submit" class="btn btn-gaji">등록하기</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script layout:fragment="script" th:inline="javascript">

    $('#shared').on('click', function () {
      var checked = $(this).is(':checked');
      if (checked) {
        $('#price').val(0);
        $('#suggested').parent().hide();
      } else {
        $('#price').val('');
        $('#suggested').parent().show();
      }
    });

</script>

  // 나눔을 체크하면 가격에 0 이 들어가고 가격 제안받기가 사라져야해
  // 가격에 어떤 숫자가 들어가면 나눔 체크가 풀려야해