<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{user/layout}"
>
<body>

<div class="container" layout:fragment="content">

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div th:each="content : ${list}" class="col">
            <a th:href="@{/lives/{id}(id=${content.id})}" class="text-decoration-none text-dark" role="button">
                <div class="card h-100">
                    <img th:src="@{/images/bg3.jpg}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><span th:text="${content.category.getDisplayValue()}"></span></h5>
                        <p class="card-text"><span th:text="${content.contents}"></span></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><span th:text="${#temporals.format(content.createdDate, 'yyyy-MM-dd')}"></span></small>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-gaji"
           th:href="@{/lives/form}"
           role="button">등록</a>
    </div>

</div>

</body>
</html>
