<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{user/layout}"
>
    <body>

        <div class="container py-5" layout:fragment="content">
            <div class="row justify-content-center mb-3">
                <div class="col-lg-6">
                    <div id="chatBox">
                        <table id="conversation"
                               th:data-id="1"
                               class="table table-striped"
                        >
                            <thead>
                                <tr>
                                    <th colspan="2">채팅방</th>
                                </tr>
                            </thead>
                            <tbody id="greetings">
                            </tbody>
                        </table>
                    </div>
                    <textarea id="chatMessage" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <script layout:fragment="script" th:inline="javascript">
          const id = document.getElementById("conversation").dataset.id;
          let chatMessage = document.getElementById("chatMessage");

          connect(id);

          chatMessage.addEventListener('keypress', function (event) {
            if (event.key === 'Enter') {
              event.preventDefault();
              sendName(id, chatMessage.value);
              chatMessage.value = '';
            }
          });
        </script>
    </body>
</html>
